@model IEnumerable<MovieDirectorApp.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="example">
    <ul class="cards">
        <li>
            <span class="glyphicons glyphicons-film"></span>
            <h2>@Html.DisplayNameFor(model => model.Type)</h2>
        </li>
        @foreach (var item in Model)
        {
        <li>

           
            <h2>@Html.DisplayFor(modelItem => item.Type)</h2>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-info">  @Html.ActionLink("Edit", "Edit", new { id = item.GenreID }) </button>
                <button type="button" class="btn btn-info">  @Html.ActionLink("Details", "Details", new { id = item.GenreID }) </button>
                <button type="button" class="btn btn-info">  @Html.ActionLink("Delete", "Delete", new { id = item.GenreID }) </button>
            </div>


        </li>
        }
    </ul>
</div>

