@model IEnumerable<MovieDirectorApp.Models.Director>

@{
    ViewBag.Title = "Index";
}

<h2>Search by Directors</h2>

<button type="button" class="btn"> @Html.ActionLink("Add a director", "Create")</button>
   

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <ul class="pager">
                <li>  @Html.ActionLink("Edit", "Edit", new { id = item.DirectorID })</li>
                <li>   @Html.ActionLink("Details", "Details", new { id = item.DirectorID })</li>
                <li>  @Html.ActionLink("Delete", "Delete", new { id = item.DirectorID })</li>
            </ul>
          
          
          
        </td>
    </tr>
}

</table>
